@import url(../../../less/styles/_variables.less);

.registration-card{
	max-width: 380px;
	height: 646px;
	padding: 39px 29px;
	background-color: white;
	border-radius: 4px;
	border: @border-card;
	box-shadow: @shadow-card;
	//title
	&__title{
		font-size: @font-size_bigest;
		font-weight: 700;
	}
	//sign up data
	&__personal-dates{
		margin-top: 21px;
	}
	&__personal-date-input{
		margin-top: 10px;
	}
	&__personal-date-birth-day-input{
		margin-top: 25px;
	}
	//radio block
	&__personal-date-gender-radio{
		margin-top: 10px;
	}

	//login datals
	&__login-details{
		margin-top: 20px;
	}
	&__login-details-input{
		margin-top: 10px;
	}
	&__login-details-toggle{
		margin-top: 10px;
	}

	// signup button
	&__signup-button{
		height: 44px;
		margin-top: 23px;
	}

	//login elements
	&__login-elements{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
	}
	&__login-button{
		height: 44px;
	}
}