include ../../components/blocks/_blocks-list

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Ui kit
body
    block header
        +create-ui-logo()
    main.container
        block body-content
    block footer