mixin create-radio-block-list(radioList=[])
	ul.radio-block-list
		each params in radioList
			//- default values
			-	
				const {
					name = '',
					text = 'Enter text',
					isChecked = false
				} = params

			//- block
			label.radio-block-list__radio-block
				input.radio-block-list__item&attributes({
					name: name,
					type: "radio",
					checked: isChecked,
				})
				span.radio-block-list__text=text
			


//- Call mixin

//- name: Enter name param for input,
//- text: Enter text,
//- isChecked(dafult - false): false, true
