mixin create-color-list(colorList=[])
	ul.color-block-list
		each params in colorList
			//- default values
			-	
				const {
					mode = "dark-shade-100",
					text = "Dark Shade 100%",
					colorCode = "#1F2041",
				} = params

			//- block
			li.color-block-list__item
				div(class=`color-block-list__rect color-block-list__rect_color_${mode}`)
				.color-block-list__text 
					.color-block-list__title=text
					div=colorCode

//- Call mixin

//- mode(deafult - dark-shade-100) : dark-shade-100, dark-shade-75, dark-shade-50, dark-shade-25, dark-shade-5, purple, green
//- text(default - Dark Shade 100%): Dark Shade 100%, Dark Shade 75%, Dark Shade 50%, Dark Shade 25%, Dark Shade 5%, Purple, Green
//- colorCode(default - #1F2041): #1F2041, BC9CFF, #6FCF97