mixin create-checkbox-list(params={})
	
	//- default values
	-	
		const {
			header: 'Enter header', 
			expandable: false, 
			checkboxList: 'Ширина коридоров в номере не менее 91 см.',
			isChecked: true,
		} = params

	//- classes
	-
		const checkboxListIsExpandableClass = params.expandable == true ? 'checkbox-list_expandable' : ''

	//- block
	div(class = `checkbox-list ${checkboxListIsExpandableClass}`)
		//header and arrow
		.checkbox-list__header
			h4.checkbox-list__header-text=params.header
			if params.expandable == true
				.checkbox-list__expandable-arrow

		//paragraphs block
		.checkbox-list__items
			each paramsForParagraph in params.checkboxListParams
				//- default values
				-	
					const {
						paragraph = 'Enter text',
						isChecked = false,
						richText = ''
					} = paramsForParagraph

				//- classes
				-
					const mainTextInRich = richText != '' ? 'checkbox-list__main-text_in-rich' : ''

				//- block
				label.checkbox-list__item
					input.checkbox-list__fake-input&attributes({
						type: "checkbox",
						checked: isChecked,
					})
					.checkbox-list__input-text
						if richText != ''
							.checkbox-list__paragraph-header=richText
						div(class = `checkbox-list__main-text ${mainTextInRich}`)=paragraph

//- Call mixin //
//- Mixin accepts arrow //
//- expandable(default - false): true, false
//- text: Enter text
//- isChecked(dafult - false): false, true
//- richText: Enter text