mixin create-checkbox-block(params={})

	//- default values
	-	
		const {
			header = 'Enter header', 
			checkboxList = [{paragraph: 'aba', isChecked: false, richText: 'rich'}],
			isExpandable = false, 
			isRich = true,
		} = params

	//- classes
	-
		const checkboxListIsExpandableClass = isExpandable == true ? 'checkbox-list_expandable' : ''

	//- block
	div(class = `checkbox-block ${checkboxListIsExpandableClass}`)
		//header and arrow
		.checkbox-block__header
			h4.checkbox-block__header-text=header
			if isExpandable == true
				.checkbox-block__expandable-arrow

		//paragraphs block
		.checkbox-block__items
			each checkboxListParagraph in checkboxList
				//- default values
				-
					const {
						paragraph = 'aba', 
						isChecked = false, 
						richText = '',
					} = checkboxListParagraph

				//- block
				label.checkbox-block__item
					input.checkbox-block__fake-input&attributes({
						type: "checkbox",
						checked: isChecked,
					})
					.checkbox-block__input-text
						if richText != ''
							.checkbox-block__paragraph-header=richText
						div(class = `checkbox-list__main-text ${mainTextInRich}`)=paragraph

//- Call mixin //
//- Mixin accepts arrow //
//- expandable(default - false): true, false
//- text: Enter text
//- isChecked(dafult - false): false, true
//- richText: Enter text