mixin create-checkbox-list(expandable = false, checkboxListParams=[])
	.checkbox-list
		each params in checkboxListParams
			//- default values
			-	
				const {
					paragraph = 'Enter text',
					isChecked = false,
					mode = 'default',
					richText = '' 
				} = params

			//-classes
			-
				const itemIsExpandableClass = mode == 'expandable' ? 'checkbox-list__item_hided' : ''

			//- block
			
			.checkbox-list__header
				h4.checkbox-list__header-text expandable checkbox list
				if mode == 'expandable'
					.checkbox-list__expandable-arrow
			label(class = `checkbox-list__item ${itemIsExpandableClass}`)
				input.checkbox-list__fake-input&attributes({
					type: "checkbox",
					checked: isChecked,
				})
				.checkbox-list__input-text
					if mode=='rich'
						.checkbox-list__paragraph-header=richText
					span.checkbox-list__main-text=paragraph					

//- Call mixin //
//- Mixin accepts arrow //
//- text: Enter text
//- isChecked(dafult - false): false, true
//- mode(default - 'default'): 'default', 'rich', 'expandable'
//- richText: Enter text

