mixin create-range-slider-block()
	
	//- default values
	-


	//- block
	label.range-slider-block
		input(class='range-slider-block__item' type='range' min='0' max='100' value='50')
		.range-slider-block__thumb-line
		.range-slider-block__thumb.range-slider-block__thumb-left
		.range-slider-block__thumb.range-slider-block__thumb-right
	.range-slider-block__value-text
		.range-slider-block__value-text-min
		span=' - '
		.range-slider-block__value-text-max
	
//- Call mixin