*{
	box-sizing:border-box;
	outline:none;
	margin: 0;
	padding: 0;
}

*::after{
	box-sizing:border-box;
	outline:none;
}

*::before{
	box-sizing:border-box;
	outline:none;
}

*::focus{
	box-sizing:border-box;
	outline:none;	
}

html{
	font-family: Montserrat;
	font-weight: normal;
	font-size: 14px;
	height:100%;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

footer{
	flex: 0 0 auto;
}

header{
	flex: 2 0 auto;
}

button{
	border: 0;
	background: transparent;
}

ul{
	list-style:none;
}

img{
	max-width:100%;
	display:block;
}

a{
	text-decoration:none;
}

main{
	flex:1 0 auto;
}

input{
	font-family: inherit;
}

//classes

.footer{
	flex:0 0 auto;
}

.container{
	max-width:1440px;
	margin:0 auto;
	padding:0 140px;
	flex: 1 0 auto;
}

//media//

@media (max-width:400px) {
	.container{
		max-width:1440px;
		margin:0 auto;
		padding:0 40px;
	}
}