mixin create-toggle-block(params = {})

	//- default values
	-	
		const {
			text = 'Enter text',
			isChecked = false
		} = params
	
	//- block
	label.toggle-block
		input.toggle-block__fake-input&attributes({
			type: "checkbox",
			checked: isChecked,
		})
		span.toggle-block__text=text

//- Call mixin //
//- text: Enter text,
//- isChecked(dafult - false): false, true