@import url(../../../less/styles/_variables.less);

.input-block{
	position: relative;
	user-select: none;
	&__heading{
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		font-size: @font-size_small;
		line-height: 14.63px;
		text-transform: uppercase;
		position: relative;
	}
	&__text-field{
		font-weight: bold;
	}
	&__condition{
		color: @dark-shade-50;
	}

	//input items
	&__input-items{
		display: grid;
		grid-template-columns: 100%;
		border: 1px solid @dark-shade-25;
		border-radius: 4px;
		cursor: pointer;
		//input conditions
		&:hover{
			border-color: @dark-shade-75;
		}
		&:focus-within{
			border-color: @dark-shade-75;
		}
		//Modifiers input-ites
		&_border-color{
			&_dark-50{
				border-color: @dark-shade-50;
			}
		}
		//dropdown contains
		&_dropdown-active{
			border-color: @dark-shade-75;
			border-radius: 4px 4px 0px 0px;
		}
	}

	//input item
	&__input-item{
    	grid-row: 1;
    	grid-column: 1;
		width: 100%;
		height: 42px;
		padding: 13px 15px;
		color: @dark-shade-25;
		border: transparent;
		border-radius: 5px;
		cursor: pointer;
		//placeholder style
		&::placeholder{
			color: @dark-shade-25;
		}
		//Modifiers input-item
		&_placeholder-color{
			&_dark-75{
				color: @dark-shade-75;
				&::placeholder{
					color: @dark-shade-75;
				}
			}
		}
	}

	//input arrow
	&__arrow{
		grid-row: 1;
		grid-column: 1;
		justify-self: end;
		display: flex;
    	justify-content: center;
    	align-items: center;
		height: 100%;
		width: 42px;
		border-radius: 0px 4px 4px 0px;
		pointer-events: none;
		//Modifiers arrow
		&_type{
			//arrow dropdown
			&_dropdown{
				&::after{
					height: 8px;
					width: 12px;
					background-image: url(svg/arrow.svg);
					content: '';
				}
				transition: .25s;
			}
			&_dropdown-active{
				transform: rotateX(180deg);
			}
			//arrow forward
			&_forward{
				//arrow
				&::after{
					width: 11px;
					height: 11px;
					border-bottom: 2px solid @purple;
					border-right: 2px solid @purple;
					transform: rotate(-45deg) translateY(-70.1%);
					content: '';
				}
	      		//line
				&::before {
					display: block;
					width: 15px;
					border-bottom: 2px solid @purple;
					transform: translateY(-50%);
					content: '';
				}
			}
		}
	}

	//dropdown
	&__dropdown{
		position: absolute;
		display: none;
		width: 100%;
		padding: 6px 6px 7px 14px;
		background-color: white;
		border: 1px solid @dark-shade-75;
		border-top: none;
		border-radius: 0px 0px 4px 4px;
		font-weight: 700;
		font-size: @font-size_small;
		opacity: 0;
		z-index: 1;
		&_dropdown-active{
			display: block;
			opacity: 1;
			animation: fadeInFromNone .25s;
		}
	}
	//paragraph item
	&__dropdown-paragraph{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 7px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__dropdown-paragraph-text{
		text-transform: uppercase;
	}
	//paragraph button
	&__dropdown-buttons{
		display: flex;
		justify-content: space-between;
		width: 92px;
	}
	&__dropdown-button{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
		width: 30px;
		border: 1px solid @dark-shade-25;
		border-radius: 100%;
		cursor: pointer;
		&_disabled{
			cursor: default;
			border-color: @dark-shade-10;
			color: @dark-shade-10;
		}
	}
	&__dropdown-button-text{
		margin:auto;
	}

	//managers buttons
	&__managers-buttons{
		margin: 20px 0px 5px 0px;
		display: flex;
		justify-content: space-between;
		color: @purple;
		text-transform: uppercase;
	}
	&__button-clear{
		cursor: pointer;
	}
	&__button-apply{
		cursor: pointer;
	}

	//Modifiers input-block
	&_size{
		&_big{
			width: 320px;
		}
		&_medium{
			width: 266px;
		}
		&_small{
			width: 150px;
		}
	}
}

//keyFrames
@keyframes fadeInFromNone {
    0% {
    	display: none;
        opacity: 0;
    }1% {
        display: block;
        opacity: 0;
    }100% {
        display: block;
        opacity: 1;
    }
}