mixin create-like-block(params = {})

	//- default values
	-	
		const {
			num = 'num',
			isChecked = false
		} = params
	
	//- block
	label.like-block
		input.like-block__fake-input&attributes({
			type: "checkbox",
			checked: isChecked,
		})
		div.like-block__button
			.like-block__heart
			.like-block__text=num


//- Call mixin //
//- text: Enter text,
//- isChecked(dafult - false): false, true