mixin create-radio-block(params={})
	
	//-default values
	-	
		const {
			header = 'Radio Buttons',
			name = 'name',
			radioItems = ['Мужчина', 'Женщина'],
			checkedElement = 1,
		} = params

	//-block
	
	.radio-block
		//header
		.radio-block__header=header
		ul.radio-block__items
			each radioItem, index in radioItems

				//- values
				-	
					const isChecked = index==checkedElement-1

				//block
				label.radio-block__item
					input.radio-block__fake-input&attributes({
						name: name,
						type: "radio",
						checked: isChecked,
					})
					span.radio-block__text=radioItem

//- Call mixin //
//- name: Enter name param for input,
//- text: Enter text,
//- isChecked(dafult - false): false, true
