mixin create-radio-block(params={})
	
	//-default values
	-	
		const {
			name = 'name',
			radioItems = ['Мужчина', 'Женщина'],
			checkedElement = 1,
		} = params

	//-block
	ul.radio-block-list
		each radioItem, index in radioItems

			//- values
			-	
				const isChecked = index==checkedElement-1

			//block
			label.radio-block-list__radio-block
				input.radio-block-list__fake-input&attributes({
					name: name,
					type: "radio",
					checked: isChecked,
				})
				span.radio-block-list__text=radioItem
			


//- Call mixin //
//- name: Enter name param for input,
//- text: Enter text,
//- isChecked(dafult - false): false, true
