extends ../layouts/_ui-kit_layout

block body-content
	.form-items
		+ create-input-block()
		+ create-input-block({
			placeholder: 'Email', 
			textField: 'Text Field', 
			condition: 'Default',
			size: 'big',
			borderColor: false,
			placeholderColor: false,
			arrow: 'forward',
		})

//- Create input-block
//- +create-input-block(
//- placeholder: Enter placeholder
//- textField: Enter text field 
//- condition: Enter condition, false
//- size: big, meduim, small
//- borderColor(default - dark-25): dark-50
//- placeholderColor(default - dark-25): dark-75
//- dropDown(default - false): dropdown, forward