extends ../layouts/_ui-kit_layout

block body-content
	form.form-items
		.form-items__inner
			+ create-input-block({
				placeholder: 'Email',
				textField: 'Text Field',
				condition: 'Default',
				size: 'big',
				borderColor: 'dark-25',
				placeholderColor: 'dark-25',
			})
			+ create-input-block({
				placeholder: 'Email',
				textField: 'This is pretty awesome',
				condition: 'Hover / Focus',
				size: 'big',
				borderColor: 'dark-50',
				placeholderColor: 'dark-75',
			})
			+ create-input-block({
				placeholder: 'Сколько гостей',
				textField: 'Dropdown',
				condition: '',
				size: 'big',
				borderColor: 'dark-25',
				placeholderColor: 'dark-75',
				arrowType: 'dropdown',
				dropdownParagraphs: ['взрослые', 'дети', 'младенцы'],
				placeholderMode: 'counter',
			})
			+ create-input-block({
				placeholder: 'Email',
				textField: 'This is pretty awesome',
				condition: 'Hover / Focus',
				size: 'big',
				borderColor: 'dark-50',
				placeholderColor: 'dark-75',
			})
		.form-items__inner

		.form-items__inner