extends ../layouts/_ui-kit_layout

block body-content
	form.form-items
		//- + create-input-block({
		//- 	placeholder: 'Email', 
		//- 	textField: 'Text Field', 
		//- 	condition: 'Default',
		//- 	size: 'big',
		//- 	borderColor: false,
		//- 	placeholderColor: false,
		//- 	arrow: 'forward',
		//- })

		//- + create-checkbox-block({
		//- 	text: 'Можно курить',
		//- 	isChecked: true
		//- })

		//- + create-radio-block-list([{
		//- 	name: 'male',
		//- 	text: 'Мужчина',
		//- 	isChecked : true,
		//- },{
		//- 	name: 'male',
		//- 	text: 'Женщина',
		//- }])

		//- + create-toggle-block({
		//- 	text: 'Получать спецпредложения',
		//- 	isChecked: true
		//- })

		//- + create-like-block({
		//- 	text: '2',
		//- 	isChecked: false
		//- })

		//- + create-like-block({
		//- 	text: '12',
		//- 	isChecked: true
		//- })

		