// imports //

//services
@import url(../../less/styles/_service-styles.less);

// //mixins
@import url(../../less/mixins/_less-mixins.less);

// Page styles //

.container{
	margin-top: 67px;
}

.form-items{
	&__main-items{
		max-width: 320px;
	}
	&__inputs{
		
	}
	&__default-input{
		margin-top: 20px;
		&:first-child{
			margin-top: 0;
		}
	}
	&__date-input{
		margin-top: 40px;
	}
	&__date-dropdown-input{
		margin-top: 40px;
	}
	&__subscribtion-input{
		margin-top: 40px;
	}
}