extends ../layouts/_ui-kit_layout

block body-content
	form.form-items
		+ create-bullet-list({
			header: 'Bullet list',
			buletListParagraphs: [
				'Нельзя с питомцами',
				'Без вечеринок и мероприятий',
				'Время прибытия — после 13:00, а выезд до 12:00'
			]
		})