mixin create-login-card()
	
	//- block
	.login-card
		.login-card__title Войти
		form.login-card__inner
			.login-card__login-elements
				.login-card__login-inputs
					.login-card__login-input
						+ create-input-block({
							placeholder: 'Email',
							textField: '',
							condition: '',
							size: 'big',
							borderColor: 'dark-25',
							placeholderColor: 'dark-25',
						})
					.login-card__login-input
						+ create-input-block({
							placeholder: 'Пароль',
							textField: '',
							condition: '',
							size: 'big',
							borderColor: 'dark-25',
							placeholderColor: 'dark-25',
						})
				.login-card__login-button
					+ create-button-block({
						size: 'stretchable',
						text: 'войти',
						textColor: 'white',
						arrow: true,
					})
			.login-card__signup-elements
				p.login-card__signup-text Нет аккаунта на Toxin?
				.login-card__signup-button
					+ create-button-block({
						size: 'normal',
						text: 'создать',
						textColor: 'purple',
						background: 'void',
					})