//- mixin
mixin create-calendar()
	.calendar
		.calendar__heading
			.calendar__control-button-prev 
			.calendar__header
				.calendar__header-text
				.calendar__header-dropdown
					.calendar__header-dropdown-item.calendar__header-dropdown-item_present-day
					.calendar__header-dropdown-item
					.calendar__header-dropdown-item
					.calendar__header-dropdown-item
					.calendar__header-dropdown-item
					.calendar__header-dropdown-item
					.calendar__header-dropdown-item
					.calendar__header-dropdown-item
			.calendar__control-button-next
		.calendar__body
			ul.calendar__weeks
				li.calendar__week-day ПН
				li.calendar__week-day ВТ
				li.calendar__week-day СР
				li.calendar__week-day ЧТ
				li.calendar__week-day ПТ
				li.calendar__week-day СБ
				li.calendar__week-day ВС
			ul.calendar__days